<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/adminlte.min.css') }}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/chartist/dist/chartist.min.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
        integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/js/adminlte.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous">
        </script>

    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.0/dist/jquery.validate.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="{{ url_for('static', filename='js/spinner.js') }}"></script>

    {% block script %}
    {% endblock %}

    <div id="loader">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Cargando...</span>
        </div>
    </div>

    <div class="wrapper">
        <aside id="sidebar" class="bg-dark expand" data-bs-theme="dark">
            <div class="d-flex">
                <button class="toggle-btn" type="button">
                    <i class="fa-solid fa-bars"></i>
                </button>
            </div>
            <ul class="sidebar-nav">
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link has-dropdown {{ 'collapsed' if 'black_box' not in active_page else '' }}" data-bs-toggle="collapse" data-bs-target="#black_box"
                        aria-expanded="{{ 'true' if 'black_box' in active_page else 'false' }}" aria-controls="black_box">
                        <i class="fa-solid fa-box text-secondary"></i>
                        <span>Caja negra</span>
                    </a>
                    <ul id="black_box" class="sidebar-dropdown list-unstyled collapse {{ 'show' if 'black_box' in active_page else '' }}" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a class="sidebar-link {{ 'active' if 'home' in active_page else '' }}" href="/">
                                <i class="fa-solid fa-star text-warning-emphasis"></i> 
                                Proceso Completo
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link has-dropdown {{ 'collapsed' if 'white_box' not in active_page else '' }}" data-bs-toggle="collapse"
                        data-bs-target="#white_box" aria-expanded="{{ 'true' if 'white_box' in active_page else 'false' }}" aria-controls="white_box">
                        <i class="fa-solid fa-box-open"></i>
                        <span>Caja blanca</span>
                    </a>
                    <ul id="white_box" class="sidebar-dropdown list-unstyled collapse {{ 'show' if 'white_box' in active_page else '' }}" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a class="sidebar-link {{ 'active' if 'normalization' in active_page else '' }}" href="/normalization">
                                <i class="fa-solid fa-ruler"></i> 
                                Normalizar
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link {{ 'active' if 'qrs' in active_page else '' }}" href="/qrs">
                                <i class="fa-solid fa-heart-pulse"></i> 
                                Obtener QRS
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link {{ 'active' if 'segmentation' in active_page else '' }}" href="/segmentation">
                                <i class="fa-solid fa-file-waveform"></i> 
                                Segmentar
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link {{ 'active' if 'prediction' in active_page else '' }}" href="/prediction">
                                <i class="fas fa-solid fa-brain"></i> 
                                Predecir
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link {{ 'active' if 'graph' in active_page else '' }}" href="/graph">
                                <i class="fa-solid fa-wave-square"></i> 
                                Graficar
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="sidebar-footer">
                <a class="sidebar-link {{ 'active' if 'credits' in active_page else '' }}" href="/credits">
                    <i class="fas fa-solid fa-users"></i>
                    Créditos
                </a>
            </div>
        </aside>

        <div class="container-content">
            <div class="logo-title">
                <img src="{{ url_for('static', filename='images/logo_HeartBeats.webp') }}" alt="Logo">
            </div>
            <main class="d-flex flex-column justify-content-center align-items-center">
                {% block main %}
                {% endblock %}
            </main>

            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; <a href="http://www.udenar.edu.co">Universidad de Nariño</a> 2024</span>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    {% block template %}
    {% endblock %}
</body>

</html>